/Pertemuan 8/latGUI/nbproject/private/
/Pertemuan 8/Notepad/nbproject/private/
/Pertemuan 8/Notepad/build/
/Pertemuan 8/DatabaseMhs/nbproject/private/
/Pertemuan 8/DatabaseMhs/build/
/Pertemuan 8/DatabaseMhsNext/nbproject/private/
/Pertemuan 8/DatabaseMhsNext/build/
/Pertemuan9/Database/nbproject/private/
/Pertemuan9/database.repository/nbproject/private/
/Pertemuan9/DatabaseMhsNext3/build/
/Pertemuan 11/DatabaseMhsNext3/build/
/Pertemuan 11/DatabaseMhsNext3/nbproject/private/
/Pertemuan 10/Database/build/
/Pertemuan 10/Database/nbproject/private/
/Pertemuan 10/DatabaseNext/nbproject/private/
/Pertemuan 10/Notepad/build/
/Pertemuan 10/Notepad/nbproject/private/
/Pertemuan 9/DatabaseMhsNext/build/
/Pertemuan 9/DatabaseMhsNext/nbproject/private/
/chatbot-main/nbproject/private/
/TEMP/chatbot-main/nbproject/private/
